script(type='text/javascript', src='/javascripts/himitsu.js')
#header
  p http://sakura.mesolabs.com/fxdevcon2010 閲覧者数:
    span#count
    人
#contents
  #page1.slide.active
    こんにちは
  #page2.slide
    はじめまして
  #page3.slide
    さようなら
