body {
  padding: 50px;
  font: 14px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}
.slide {
  display: none;
  height: 80%;
  width: 80%;
  position: absolute;
  font-size: 120px;
}
.active {
  display: block;
}
